<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <!-- xml配置引入aop命名空间-->

        <!--<context:component-scan base-package="com.marvin.spring.demo"/>
            <bean id="performance" class="com.marvin.spring.demo.JjPerformance"/>
        -->

        <!--<aop:aspectj-autoproxy/>  开启aop自动代理-->
        <!--xml配置 aop
        <bean id="environment" class="com.marvin.spring.demo.JjPerformance"/>
        <bean id="audience" class="com.marvin.spring.demo.Audience"/>
        <aop:config>
                <aop:pointcut id="pointcut1" expression="execution(* com.marvin.spring.demo.Performance.perform(..))"/>
                <aop:pointcut id="pointcut2" expression="execution(* com.marvin.spring.demo.Performance.song(String)) and args(abc)"/>

                <aop:aspect ref="audience">
                        <aop:before method="sitDown" pointcut="execution(* com.marvin.spring.demo.Performance.perform(..))"/>
                        <aop:before method="closePhone" pointcut="execution(* com.marvin.spring.demo.Performance.perform(..))"/>
                        <aop:after-returning method="success" pointcut-ref="pointcut1"/>
                        <aop:around method="around" pointcut-ref="pointcut1"/>
                        <aop:before method="song" pointcut-ref="pointcut2"/>
                </aop:aspect>

                <aop:aspect>
                        <aop:declare-parents types-matching="com.marvin.spring.demo.Performance+" implement-interface="com.marvin.spring.demo.Play"
                                             default-impl="com.marvin.spring.demo.PlayImpl"/>
                </aop:aspect>
        </aop:config>
        -->

</beans>